$brand-primary-initial: #665BDF;
$brand-primary-lighter: #9A97C2;

$brand-secondary-initial: #FF5F91;
$brand-secondary-lighter: #FFB8CE;
$brand-secondary-darker: #EB518D;

$neutral-dark-tint-1: #1F2557;

$neutral-medium-tint-1: #776CAB;
$neutral-medium-tint-2: #C4C4C4;

$neutral-light-tint-1: #F0F0F0;
$neutral-light-tint-2: #FFFFFF;

$semantic-error: #C74F4F;
$semantic-warning: #FFCD7D;
$semantic-success: #327C4E;

